:root {
    --main-color: #c5d9e2;
    --content-color: #6ba368;
    --text-color: #3f4739;
    --border-color-one: #9cfc97;
    --border-color-two: #f5b700;
}

* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--text-color);
    background-color: var(--content-color);
}

header {
    font-size: 3em;
    font-family: fantasy;
    padding: 5px;
}

h2 {
    font-size: 2em;
    width: 45%;
    padding: 5px;
    background-color: var(--main-color);
    border-radius: 5px;
}

body {
    text-align: center;
}

div.container {
    display: block;
}

.div.additem {
    margin: auto;
}

div.tablelist {
    margin: auto;
    padding: 2px;
    border: 2px;
    font-weight: bold;
    height: 20px;
    width: 100%;
}

.listtable {
    width: 45%;
    height: 100%;
    border-radius: 5px;
    
}

div.tablelist th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: var(--text-color);
    background-color: var(--border-color-two);
    border: 2px;
    border-color: var(--border-color-one);
    border-radius: 5px;
}

div.tablelist td {
    background-color: var(--border-color-one);
    padding: 2px;

}


div.additem {
    border-radius: 5px;
    background-color: var(--border-color-one);
    display: inline-flex;
    padding: 10px;
}

form.itemform {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
    padding: 5px;
}


form.itemform>input {
    width: 100%;
    border: solid;
    text-align: center;
}

form.itemform>label {
    border: .25rem solid;
    border-radius: 5px;
    border-color: var(--border-color-two);
    font-size: x-large;
    padding: 5px;
    text-align: center;
    display: block;
    line-height: 150%;
}

form>select {
    padding: .5em 1em .5em 1em;
}

form>select {
    width: 100%;
    border: solid;
    font-size: larger;
}

input[type="submit"] {
    text-align: center;
    padding: .75em;
    font-size: 1.1em;
    max-height: fit-content;
    max-width: fit-content;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: var(--color-link);
    color:var(--color-dark);
    border-radius: 4px;
    transition: color .2s ease-in-out,
        background-color var(--transition-time-default) ease-in-out;
}